:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: gray;
  margin: 0% 0% 0% 0%;
}

.card {
  transition: transform 0.3s, filter 0.3s;
}

.card:hover {
  filter: brightness(300%);
}

.card:active {
  transform: scale(1.25);
}


.tab-item {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.absc {
  color: #000;
  display: flexbox;
}