:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0% 0% 0% 0%;
}

.card {
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.2);
}

.card:active {
  filter: brightness(300%);
}

.menu_icon::after, .menu_icon::before {
  position: absolute;
  --scale: 0;
  --tooltip-arrow-size: 10px;
  left: calc(100% + 3px - var(--tooltip-arrow-size));
  top: 50%;
  z-index: 99;
  transform: translateX(var(--x-trans, 0)) translateY(-50%) scale(var(--scale));
  transition: 350ms transform;
  transform-origin: left center;
}

/*TODO tooltip arrow*/
.menu_icon::before {
  --x-trans: 0;
  content: '';
  border: var(--tooltip-arrow-size) solid transparent;
  border-right-color: var(--tooltip-background);
}

/*main tooltip box*/
.menu_icon::after {
  --x-trans: calc(2 * var(--tooltip-arrow-size));
  padding: 0.3rem;
  width: max-content;
  height: max-content;
  border-radius: .3rem;
  color: var(--tooltip-foreground);
  background-color: var(--tooltip-background);
  content: attr(tooltip);
}

.menu_icon:hover::after, .menu_icon:hover::before {
 --scale: 1;
}

.popup {
  position: fixed;
  width: 30%;
  left: 35%;
  top: 35%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 5%;
  justify-content: flex-end;
}

@keyframes glowing {
  0%, 100% {
    filter: brightness(100%);
    transform: translateX(-100%);
  }
  50% {
    filter: brightness(300%);
    transform: translateX(0);
  }
}

.three-dots {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50px;
  height: 50px;
}

.filename {
  display: inline-block;
  position: relative;
}

.filenamewrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  /* transition: all 0.5s ease-in-out; */
}

.filename:hover {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 2px;
  transition: transform 0.3s;
}

.three-dots:hover {
  filter: brightness(300%); /* Brighten up dots on hover */
  transform: scale(1.25);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar-thumb);
}

/* Styles for the Search Options Component */
.search-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: 'Cursive', cursive;
}

/* Styles for the Search Input */
.search-input {
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
}

/* Styles for the Title */
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

/* Styles for Form Items */
.form-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

/* Styles for Select Boxes */
.select-box {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

/* Styles for Number Inputs */
.number-input {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

/* Styles for Submit Button */
.submit-button {
  border-radius: 10px;
  font-size: 15px;
}

.card.home::after {
  content: 'home';
  top: 0;
  left: 50%;
}

.adzk {
cursor: pointer;
flex-wrap: wrap;
justify-content: space-evenly;
}

.row:hover {
  background-color: var(--row-hover-color);
}

.local:hover {
  background-color: var(--row-hover-color);
}

.under-detail {
  justify-content: space-between;
}

.row-checkbox {
  visibility: hidden;
}

.checkbox-container:hover .row-checkbox {
    visibility: visible;
}